.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 25px;
}

.para {
  margin: 8px 0;
  font-size: 1.5rem;
}

/* .paraDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  margin-top: 45px;
} */
